{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}


<h1>Mon panier</h1>
Retrouvez l'ensemble des produits que vous avez ajouté à votre panier
    <hr>
    
    {% if items | length > 0  %} 
    <table class="table">
        <thead>
            <tr>
                <th scope="col" >Produits</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        
        {% for product in items %}   
            <tr>
                <th>
                
                </th>
                <td>
                {{ product.items.name }}<br>
                
                </td>
                <td>
                <a href="">
                    <img src="{{asset('img/minus.png')}}" height="12px" alt="supprimer un produit">
                </a>
                x {{product.quantity}}
                <a href="{{path('cart_add', {'id' : product.items.id }) }}">
                    <img src="{{asset('img/plus.png')}}" height="12px" alt="ajouter un produit">
                </a>
                </td>
                <td>{{(product.items.price ) | number_format(2, " , ", " ") }}</td>
                <td>{{(product.items.price *  product.quantity  )| number_format(2, " , ", " ") }}</td>
                <td>
                reste à mettre en place la suppréssion
                    <a href="" class="btn btn-danger btn-sm"> 
                    <i class="fas fa-trash"></i>
                    </a>
                
                </td>
            </tr>
        {% endfor %}
 </tbody>
    <tfoot>
        <tr>
            <td colspan="4"  class="text-right text-bold">Nombre de produit :  
            </td>
            
            <td>{{ totalQ}}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4"  class="text-right text-bold">Total panier : 
            </td>
            <td>{{ (total) | number_format(2, ",", " ") }} €</td>
            <td></td>
        </tr>
    </tfoot>
</table> 
<div  class="text-right mb-5">

<a href="" class="btn btn-success btn-block">Valider mon panier</a>
</div> 
{% else %}
<hr>
<p><b>Votre panier est vide</b></p>
{% endif %}
<hr>

{% endblock %}
