{% extends 'base.html.twig' %}

{% block title %}Hello BurgerController!{% endblock %}

{% block body %}

<div class="container">
<div class="row">

    {% for carte in cartes %}
    
    
           
        <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="col-12 col-mb-4">
            <div class="card-header">Pat Burger</div>
            <img src="{{asset("/images/" ~ carte.image) }}" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle" alt="">
            <div class="card-body">
                <h4 class="card-title">{{carte.name}}</h4>
                <p class="card-text">{{ carte.description}}</p>
                <h5 class="card-title">{{carte.price | number_format(2, ",", " ")}} €</h5>
            </div>
            <a href="{{path('cart_add',{'id' : carte.id })}}" class="btn btn-primary">Ajouter au panier</a>
            </div>
        </div>
    
    

    {% endfor %}
<div class="navigation">
        {{ knp_pagination_render(cartes) }}
    </div>

    </div>
</div>
{% endblock %}
